body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-size: 18px;
	background: #c4c4c4;
	color: #333;
	line-height: 140%;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	outline: none;
}

.prototype-elements {
	display: none;
	position: relative;
	margin: 80px;
	padding: 40px;
}

.canvas {
	background: white;
	padding: 80px 220px;

	h1, h2, h3, p {
		margin: 0 0 0 0;
		padding: 0;
		line-height: 1.6;
	}

	.text__centered {
		text-align: center;
	}

	.width__full {
		margin-left: -180px;
		margin-right: -180px;
	}

}

// Add Button
.add-button {
	padding: 6px;
	margin: 0;
	border-radius: 4px;
	border: 2px solid #fff;
	font-size: 22px;
	background: #333;
	color: #fff;
	position: absolute;
	bottom: -38px;
	right: -4px;
	z-index: 10000;
	outline: none;
	cursor: pointer;
	transition: all 0.1s cubic-bezier(0,1.19,.68,1.01);

	&:hover {
		background: #1D35B4;
	}

	svg {
		display: block;
		height: 12px;
		width: 12px;
	}
}

// Container Insert Guide
.last-child::after {
	content: '';
	height: 6px;
	border-radius: 12px;
	background: #3858E9;
	border: 1px solid white;
	position: absolute;
	right: 50%;
	bottom: -4px;
	left: 50%;
	opacity: 0;
	animation: pulse 0.8s infinite;
	transition: all 0.15s cubic-bezier(0,1.19,.68,1.01);
}

.horizontal > .last-child::after {
	top: 50%;
	right: -18px;
	bottom: 50%;
	left: auto;
	width: 6px;
	height: auto;
}

body.add-guides-showing {
	caret-color: transparent;

	.block.is-selected:not( .is-highlighted ) {
		box-shadow: none;
	}

	.block-toolbar {
		//opacity: 0;
	}

	.is-highlighted > .last-child::after {
		opacity: 1;
		left: -4px;
		right: -4px;
	}

	.horizontal > .last-child::after {
		top: -4px;
		bottom: -4px;
		right: -18px;
		left: auto;
	}

	.is-focused {
		outline: 10000px solid rgba( white, 0.6 );
	}
}

@keyframes pulse {
	0% { background: rgba( #3858E9, 1 ); }
	50% { background: rgba( #1D35B4, 1 ); }
	100% { background: rgba( #3858E9, 1 ); }
}

// Toolbar
.block-toolbar {
	background: #fff;
	border: 1px solid #333;
	border-radius: 2px;
	position: absolute;
	top: -60px;
	left: -2px;
	display: flex;

	.toolbar-icon {
		padding: 8px;
		margin: 3px;
	}

	.toolbar-drag {
		padding: 8px 0;
		margin: 3px 0;
	}

	.toolbar-divider {
		height: 46px;
		width: 1px;
		margin: 0;
		background: #333;
	}

	svg {
		display: block;
		height: 24px;
		width: 24px;
	}
}

// Blocks
.block {
	position: relative;
	padding: 6px;
	transition: all 0.15s ease-in-out;
	outline: 10000px solid rgba( white, 0 );
	outline-offset: 2px;

	&.is-selected:not( .block-type__text ) {
		border-radius: 1px;
		box-shadow: 0 0 0 2px #3858E9;
		z-index: 1;
	}

	&.is-highlighted {
		border-radius: 2px;
		box-shadow: 0 0 0 1px rgba( #333, 0.3 );
		z-index: 1;
	}

	&.block-type__container {
		.add-button {
			transform: translateY( -12px );
			opacity: 0;
		}

		&.is-showing-add-button {
			.add-button {
				transform: translateY( 0 );
				opacity: 1;
			}
		}
	}
}

.block.block__paragraph,
.block.block__heading {
	margin-bottom: 12px;

	&.last-child {
		margin-bottom: 0;
	}
}

.block.block__image {
	padding: 0;

	img {
		display: block;
	}
}

.block.block__group {}

.block.block__columns {
	display: flex;

	.block__column {
		max-width: 50%;
		flex-grow: 1;
		margin-right: 12px;

		&.last-child {
			margin: 0;
		}
	}
}

.block.block__navigation {
	display: flex;

	.block__navigation-item {}
}
