.sidebar {
  position: fixed;
  top: 47px;
  right: 0;
  bottom: 0;
  width: 280px;

  font-size: 15px;

  background: white;
  border-left: 1px solid #ccc;

  overflow: auto;
  transform: translateX( 280px );
  transition: all 0.15s ease-in-out;

  h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  body.has-sidebar & {
    transform: translateX( 0 );
  }
}

.sidebar-header {
  display: flex;
  padding: 12px 6px 0 18px;

  h3 {
    flex-grow: 1;
    font-size: 13px;
    font-weight: normal;
  }

  .sidebar-close {
    border: none;
    background: none;
    cursor: pointer;
  }
}

.sidebar-tabs {
  display: flex;
  border-bottom: 1px solid #ccc;

  li {
    padding: 6px 18px;
    cursor: pointer;

    &:hover {
      color: blue;
    }

    &.is-current {
      color: blue;
      font-weight: bold;
      border-bottom: 3px solid blue;
    }
  }
}

.sidebar-tab-content {
  display: none;

  &.is-current {
    display: block;
  }
}

.sidebar-accordion {
  border-bottom: 1px solid #ccc;

  h4.sidebar-accordion__label {
    padding: 12px 18px;
    font-size: 13px;
    font-weight: 500;

    &:hover {
      color: blue;
      cursor: pointer;
    }
  }

  .sidebar-accordion__contents {
    padding: 0 12px 12px 12px;
    display: none;
  }

  &.is-open {
    .sidebar-accordion__contents {
      display: block;
    }
  }
}

.setting {
  position: relative;

  &.has-picker {
    .setting__current,
    .setting__current:hover {
      background: #fff;
      color: blue;

      .setting__swatch {
        transform: scale( 1.3 );
      }
    }
  }

  .setting__current {
    display: flex;
    padding: 6px;
    border-radius: 2px;
    cursor: pointer;

    &:hover {
      background: #efefef;
      color: blue;
    }

    .setting__swatch {
      height: 24px;
      width: 24px;
      margin-right: 12px;
      pointer-events: none;
      border: 1px solid rgba( black, 0.4 );
      background: white;
      position: relative;
      transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);

      &.swatch-color {
        border-radius: 50%;
      }

      &.swatch-font {
        border-radius: 2px;
      }

      .swatch-font__line-one {
        position: absolute;
        top: 2px;
        left: 2px;
        text-shadow: 1px 0 0 white;
      }
      .swatch-font__line-two {
        position: absolute;
        top: -1px;
        left: 11px;
        text-shadow: 1px 0 0 white;
      }
    }

    .setting__name {
      flex-grow: 1;
      pointer-events: none;
    }

    .setting__value {
      pointer-events: none;
    }
  }

  .setting__control {
    display: flex;
    padding: 6px;

    .setting__name {
      width: 50%;
      margin-left: 36px;
    }
    .setting__value {
      padding-left: 12px;

      input {
        width: 100%;
        position: relative;
        top: 3px;
      }
    }
  }
}

.setting-picker {
  border-radius: 2px;
  padding: 12px;
  background: white;
  box-shadow: 0 2px 12px rgba( black, 0.3 );
  position: absolute;
  top: 38px;
  right: -6px;
  left: -6px;
  z-index: 1;

  // When first added its hidden
  // and transitions into place.
  opacity: 0;
  transform: scale( 0.98 ) translateY( -18px );
  transition: all 0.075s ease-out;

  .setting-picker__description {
    color: #444;
    font-size: 13px;
    line-height: 140%;
    margin: 0 0 18px 0;
  }

  .setting-picker__section-label {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 6px;
  }

  .has-picker & {
    opacity: 1;
    transform: scale( 1 ) translateY( 0 );
  }
}

.setting-picker__fonts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;

  .font {
    width: calc( 50% - 12px );
    cursor: pointer;
    margin: 0 6px 6px 6px;

    .font__preview {
      height: 50px;
      padding: 6px 12px;
      overflow: hidden;
      border: 1px solid rgba( black, 0.2 );
      border-radius: 2px;
      transition: all 0.15s ease-in-out;

      .font__preview-line-one {
        white-space: nowrap;
        font-weight: 800;
        font-size: 20px;
        line-height: 1;
        margin-bottom: 6px;
      }

      .font__preview-line-two {
        white-space: nowrap;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
      }
    }

    .font__name {
      font-size: 13px;
      text-align: center;
    }

    &:hover {
      .font__preview {
        border-color: blue;
        //box-shadow: 0 0 0 3px rgba( black, 0.2 );
      }

      .font__name {
        color: blue;
      }
    }

    &.is-current {
      .font__preview {
        border: 1px solid black;
        box-shadow: 0 0 0 1.5px blue;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.setting-picker__colors {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }

  .swatch {
    height: 32px;
    width: 32px;
    margin-right: 12px;
    border-radius: 50%;
    border: 1px solid rgba( black, 0.4 );
    cursor: pointer;
    position: relative;
    background: white;
    transition: all 0.15s ease-in-out;

    &:hover {
      box-shadow: 0 0 0 3px rgba( black, 0.1 );
    }

    &.is-current {
      svg {
        background: rgba( white, 0.98 );
        border-radius: 50%;
        transform: scale(0.75);
        position: absolute;
        top: 3px;
        left: 3px;

        path {
          stroke: blue;
          stroke-width: 2px;
        }
      }
    }

    &.add-new {
      border-style: dashed;

      svg {
        display: block;
        margin: 9px auto 0 auto;
      }
    }
  }
}

.search-blocks {
  padding: 12px;
  position: relative;

  input {
    border: none;
    background: #efefef;
    border-radius: 2px;
    padding: 12px 18px;
    width: 100%;
    display: block;

    &:focus {
      background: white;
      box-shadow: 0 0 0 1.5px blue;
    }
  }

  svg {
    position: absolute;
    top: 19px;
    right: 24px;
    pointer-events: none;
  }
}

ul.block-list {

  li.block {
    display: flex;
    border-radius: 2px;
    margin: 0;
    padding: 6px 12px;
    cursor: pointer;

    &:hover {
      background: #efefef;
    }

    .block__swatch {
      height: 24px;
      width: 24px;
      margin-right: 12px;
    }

    .block__name {}
  }
}
