.sidebar {
  position: fixed;
  top: 47px;
  right: 0;
  bottom: 0;
  width: 280px;
  font-size: 15px;
  background: white;
  border-left: 1px solid #ccc;
  overflow: auto;
  transform: translateX(280px);
  transition: all 0.15s ease-in-out;
}
.sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6, .sidebar p, .sidebar ul, .sidebar ol, .sidebar li {
  margin: 0;
  padding: 0;
  list-style: none;
}
body.has-sidebar .sidebar {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  padding: 12px 6px 0 18px;
}
.sidebar-header h3 {
  flex-grow: 1;
  font-size: 13px;
  font-weight: normal;
}
.sidebar-header .sidebar-close {
  border: none;
  background: none;
  cursor: pointer;
}

.sidebar-tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
}
.sidebar-tabs li {
  padding: 6px 18px;
  cursor: pointer;
}
.sidebar-tabs li:hover {
  color: blue;
}
.sidebar-tabs li.is-current {
  color: blue;
  font-weight: bold;
  border-bottom: 3px solid blue;
}

.sidebar-tab-content {
  display: none;
}
.sidebar-tab-content.is-current {
  display: block;
}

.sidebar-accordion {
  border-bottom: 1px solid #ccc;
}
.sidebar-accordion h4.sidebar-accordion__label {
  padding: 12px 18px;
  font-size: 13px;
  font-weight: 500;
}
.sidebar-accordion h4.sidebar-accordion__label:hover {
  color: blue;
  cursor: pointer;
}
.sidebar-accordion .sidebar-accordion__contents {
  padding: 0 12px 12px 12px;
  display: none;
}
.sidebar-accordion.is-open .sidebar-accordion__contents {
  display: block;
}

.setting {
  position: relative;
}
.setting.has-picker .setting__current,
.setting.has-picker .setting__current:hover {
  background: #fff;
  color: blue;
}
.setting.has-picker .setting__current .setting__swatch,
.setting.has-picker .setting__current:hover .setting__swatch {
  transform: scale(1.3);
}
.setting .setting__current {
  display: flex;
  padding: 6px;
  border-radius: 2px;
  cursor: pointer;
}
.setting .setting__current:hover {
  background: #efefef;
  color: blue;
}
.setting .setting__current .setting__swatch {
  height: 24px;
  width: 24px;
  margin-right: 12px;
  pointer-events: none;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background: white;
  position: relative;
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}
.setting .setting__current .setting__swatch.swatch-color {
  border-radius: 50%;
}
.setting .setting__current .setting__swatch.swatch-font {
  border-radius: 2px;
}
.setting .setting__current .setting__swatch .swatch-font__line-one {
  position: absolute;
  top: 2px;
  left: 2px;
  text-shadow: 1px 0 0 white;
}
.setting .setting__current .setting__swatch .swatch-font__line-two {
  position: absolute;
  top: -1px;
  left: 11px;
  text-shadow: 1px 0 0 white;
}
.setting .setting__current .setting__name {
  flex-grow: 1;
  pointer-events: none;
}
.setting .setting__current .setting__value {
  pointer-events: none;
}
.setting .setting__control {
  display: flex;
  padding: 6px;
}
.setting .setting__control .setting__name {
  width: 50%;
  margin-left: 36px;
}
.setting .setting__control .setting__value {
  padding-left: 12px;
}
.setting .setting__control .setting__value input {
  width: 100%;
  position: relative;
  top: 3px;
}

.setting-picker {
  border-radius: 2px;
  padding: 12px;
  background: white;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 38px;
  right: -6px;
  left: -6px;
  z-index: 1;
  opacity: 0;
  transform: scale(0.98) translateY(-18px);
  transition: all 0.075s ease-out;
}
.setting-picker .setting-picker__description {
  color: #444;
  font-size: 13px;
  line-height: 140%;
  margin: 0 0 18px 0;
}
.setting-picker .setting-picker__section-label {
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
}
.has-picker .setting-picker {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.setting-picker__fonts {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px;
}
.setting-picker__fonts .font {
  width: calc( 50% - 12px );
  cursor: pointer;
  margin: 0 6px 6px 6px;
}
.setting-picker__fonts .font .font__preview {
  height: 50px;
  padding: 6px 12px;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  transition: all 0.15s ease-in-out;
}
.setting-picker__fonts .font .font__preview .font__preview-line-one {
  white-space: nowrap;
  font-weight: 800;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 6px;
}
.setting-picker__fonts .font .font__preview .font__preview-line-two {
  white-space: nowrap;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
}
.setting-picker__fonts .font .font__name {
  font-size: 13px;
  text-align: center;
}
.setting-picker__fonts .font:hover .font__preview {
  border-color: blue;
}
.setting-picker__fonts .font:hover .font__name {
  color: blue;
}
.setting-picker__fonts .font.is-current .font__preview {
  border: 1px solid black;
  box-shadow: 0 0 0 1.5px blue;
}
.setting-picker__fonts .font:last-child {
  margin-bottom: 0;
}

.setting-picker__colors {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}
.setting-picker__colors:last-child {
  margin-bottom: 0;
}
.setting-picker__colors .swatch {
  height: 32px;
  width: 32px;
  margin-right: 12px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.4);
  cursor: pointer;
  position: relative;
  background: white;
  transition: all 0.15s ease-in-out;
}
.setting-picker__colors .swatch:hover {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}
.setting-picker__colors .swatch.is-current svg {
  background: rgba(255, 255, 255, 0.98);
  border-radius: 50%;
  transform: scale(0.75);
  position: absolute;
  top: 3px;
  left: 3px;
}
.setting-picker__colors .swatch.is-current svg path {
  stroke: blue;
  stroke-width: 2px;
}
.setting-picker__colors .swatch.add-new {
  border-style: dashed;
}
.setting-picker__colors .swatch.add-new svg {
  display: block;
  margin: 9px auto 0 auto;
}

.search-blocks {
  padding: 12px;
  position: relative;
}
.search-blocks input {
  border: none;
  background: #efefef;
  border-radius: 2px;
  padding: 12px 18px;
  width: 100%;
  display: block;
}
.search-blocks input:focus {
  background: white;
  box-shadow: 0 0 0 1.5px blue;
}
.search-blocks svg {
  position: absolute;
  top: 19px;
  right: 24px;
  pointer-events: none;
}

ul.block-list li.block {
  display: flex;
  border-radius: 2px;
  margin: 0;
  padding: 6px 12px;
  cursor: pointer;
}
ul.block-list li.block:hover {
  background: #efefef;
}
ul.block-list li.block .block__swatch {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

/*# sourceMappingURL=global-styles.css.map */
