body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 18px;
  background: white;
  color: #333;
  line-height: 140%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  outline: none;
}

hr {
  margin: 60px 0;
  padding: 0;
}

.prototype-elements {
  display: none;
  position: relative;
  margin: 80px;
  padding: 40px;
}

.top-toolbar {
  background: white;
  height: 48px;
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  border-bottom: 1px solid #c4c4c4;
}
.top-toolbar .toolbar-primary-add {
  background: #3858E9;
  padding: 3px 10px;
  display: inline-block;
  max-height: 32px;
  border-radius: 2px;
  margin: 8px;
}
.block-library {
  position: fixed;
  top: 48px;
  left: 0;
  bottom: 0;
  width: 280px;
  border-right: 1px solid #c4c4c4;
  transform: translateX(-280px);
}
.block-library .block-library__listing {
  list-style: none;
  margin: 6px;
  padding: 0;
  width: calc( 280px - 12px );
  display: flex;
  flex-wrap: wrap;
}
.block-library .block-library__listing li {
  margin: 0;
  padding: 0;
  background: white;
  border-radius: 2px;
  width: 33.3%;
  position: relative;
  z-index: 100000;
}
.block-library .block-library__listing li svg {
  display: block;
  margin: 32px auto;
}
.block-library .block-library__listing li:hover {
  background: #efefef;
}
.block-library .block-library__listing .ui-draggable-dragging {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
.block-library .block-library__listing .ui-draggable-dragging svg {
  margin: 12px auto;
}

body.block-library-open .toolbar-primary-add {
  background: #333;
}
body.block-library-open .block-library {
  transform: translateX(0);
}
body.block-library-open .canvas {
  margin-left: 280px;
}

.canvas {
  transition: all 0.05s ease-in-out;
  margin-top: 48px;
  padding: 80px 180px;
}
.canvas h2 {
  line-height: 150%;
}
.canvas p {
  margin: 0 0 12px 0;
}
.canvas .text__centered {
  text-align: center;
}
.canvas .width__full {
  margin-left: -180px;
  margin-right: -180px;
}

.add-button {
  padding: 6px;
  margin: 0;
  border-radius: 4px;
  border: 2px solid #fff;
  font-size: 22px;
  background: #333;
  color: #fff;
  position: absolute;
  bottom: -38px;
  right: -4px;
  z-index: 10000;
  outline: none;
  cursor: pointer;
}
.add-button:hover {
  background: #1D35B4;
}
.add-button svg {
  display: block;
  height: 12px;
  width: 12px;
}

body.add-guides-showing {
  caret-color: transparent;
}
body.add-guides-showing .block.is-selected:not(.is-highlighted) {
  box-shadow: none;
}
body.add-guides-showing .block-toolbar {
  opacity: 0;
}
body.add-guides-showing .is-highlighted > .last-child::after {
  opacity: 1;
  left: -3px;
  right: -3px;
}
body.add-guides-showing .horizontal .last-child::after {
  top: -3px;
  bottom: -3px;
  left: auto;
}
body.add-guides-showing .is-focused {
  outline: 10000px solid rgba(255, 255, 255, 0.6);
}

@keyframes pulse {
  0% {
    background: #3858e9;
  }
  50% {
    background: #1d35b4;
  }
  100% {
    background: #3858e9;
  }
}
.block-toolbar {
  background: #fff;
  border: 1px solid #333;
  border-radius: 2px;
  position: absolute;
  top: -60px;
  left: -2px;
  display: flex;
}
.block-toolbar .toolbar-icon {
  padding: 8px;
  margin: 3px;
}
.block-toolbar .toolbar-drag {
  padding: 8px 0;
  margin: 3px 0;
}
.block-toolbar .toolbar-divider {
  height: 46px;
  width: 1px;
  margin: 0;
  background: #333;
}
.block-toolbar svg {
  display: block;
  height: 24px;
  width: 24px;
}

.more-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #333;
  border-radius: 2px;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(51, 51, 51, 0.4);
  position: absolute;
  top: -7px;
  left: 114px;
  z-index: 2000;
}
.more-menu li {
  margin: 0;
  padding: 0;
  min-width: 180px;
}
.more-menu li:not(.more-menu__divider) {
  padding: 6px 12px;
  margin: 6px;
}
.more-menu li hr {
  margin: 0;
  padding: 0;
  height: 1px;
  border: none;
  background: #333;
}

.block {
  position: relative;
}
.block.is-selected:not(.block-type__text) {
  border-radius: 1px;
  box-shadow: 0 0 0 2px #3858E9;
  z-index: 1;
}
.block::after {
  content: "";
  height: 0px;
  width: 5%;
  opacity: 0;
  margin: 0 auto;
  display: block;
  border-radius: 12px;
  background: #3858E9;
  border: 1px solid white;
  transition: all 0.2s ease-in-out;
}
.block.is-droppable-hovered::after {
  opacity: 1;
  height: 6px;
  width: 100%;
  margin-top: 12px;
}

.block__paragraph.has-placeholder {
  color: #c4c4c4;
}

.block.block__image {
  padding: 0;
}
.block.block__image img {
  display: block;
}

.block.block__columns {
  display: flex;
}
.block.block__columns .block__column {
  max-width: 50%;
  flex-grow: 1;
  margin-right: 12px;
}
.block.block__columns .block__column.last-child {
  margin: 0;
}

/*# sourceMappingURL=style.css.map */
